body {
	text-align: right;
	direction: rtl;
	unicode-bidi: embed;
}
caption,
th {
	text-align: right;
}
blockquote {
	padding-right: 35px;
	padding-left: 30px;
	border-left: none;
	border-right: 5px solid #89a452;
}
.back-to-top {
	right: auto;
	left: 30px;
}
.hgroup-right {
	float: left;
	padding-right: 0;
	padding-left: 35px;
}
#site-logo {
	float: right;
}
#site-title {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
#site-description {
	border-left: none;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	float: right;
	padding-left: 0;
	padding-right: 10px;
}
.social-profiles,
.social-profiles ul {
	float: left;
}
.social-profiles ul li {
	margin-right: 5px;
	margin-left: 0;
	float: right;
}
input.s {
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	border-left: none;
	float: right;
}
.search-toggle {
	right: auto;
	left: 0;
}
#search-box {
	right: auto;
	left: -9px;
}
#search-box .arrow {
	right: auto;
	left: 13px;
}
#search-box .search-submit {
	float: left;
}
.main-navigation {
	float: left;
}
.main-navigation li {
	float: right;
	margin-left: 0;
	margin-right: 25px;
}
.main-navigation a {
	float: right;
}
.main-navigation ul li ul {
	left: auto;
	right: 0;
}
.main-navigation ul li ul li {
	float: none;
	margin: 0;
}
.main-navigation ul li ul li a {
	float: none;
}
.main-navigation ul li ul li ul {
	left: auto;
	right: 200px;
}
#main ul,
#main ol {
	margin-right: 30px;
	margin-left: 0;
}
.post-featured-image {
	text-align: right;
}
.entry-meta .by-author,
.entry-meta .date,
.entry-meta .comments {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}
.entry-meta .by-author a:before,
.entry-meta .date a:before,
.entry-meta .comments a:before {
	margin-right: 0;
	margin-left: 10px;
}
.tag-links:before {
	margin-right: 0;
	margin-left: 5px;
}
.column {
	margin-left: 0;
	margin-right: -2.56%;
}
.one-half,
.one-third,
.one-fourth {
	float: right;
	margin-right: 2.49%;
	margin-left: 0;
}
#wp_page_numbers ul {
	float: left;
}
#wp_page_numbers ul li {
	float: right;
	margin-left: 0;
	margin-right: 7px;
}
#wp_page_numbers ul li a,
.wp-pagenavi .current,
.wp-pagenavi a,
ul.default-wp-page li a,
.pagination span {
	float: right;
}
.wp-pagenavi .current,
.wp-pagenavi a {
	float: none;
	margin-left: 0;
	margin-right: 4px;
}
#main ul.default-wp-page {
	margin-right: 0;
}
ul.default-wp-page li.previous,
ul.default-wp-page li.next {
	direction: ltr;
}
.pagination span {
	float: none;
	margin-left: 0;
	margin-right: 3px;
}
.pagination .post-page-numbers span {
	margin-right: 0;
}
#main .comments-area ul,
#main .comments-area ol,
.comments-area article {
	margin-right: 20px;
	margin-left: 0;
}
.comments-area article header img {
	float: right;
}
.comments-area article header cite,
.comments-area article header time {
	margin-left: 0;
	margin-right: 70px;
}
#main .comments-area article header h4 {
	right: auto;
	left: 0;
}
.comments-area li.bypostauthor cite span {
	margin-left: 0;
	margin-right: 5px;
}
.commentlist .children {
	margin-left: 0;
	margin-right: 30px;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 0;
	margin-right: 10px;
}
label ~ span.required {
	float: right;
	margin-right: -1.142857143rem;
	margin-left: 0;
}
.blog-medium .post-featured-image {
	float: right;
	margin-right: 0;
	margin-left: 4.67%;
}
#main .gal-filter {
	margin-right: 0;
}
.custom-gallery #content .column {
	margin-left: 0;
	margin-right: -30px;
}
.custom-gallery #content .one-half,
.custom-gallery #content .one-third,
.custom-gallery #content .one-fourth {
	margin-left: 0;
	margin-right: 30px;
}
#bbpress-forums div.bbp-search-form {
	float: none;
}
#bbpress-forums ul,
#bbpress-forums ol {
	margin: 0;
}
#bbpress-forums #bbp-search-form #bbp_search {
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	border-left: none;
}
#bbpress-forums #bbp-search-form #bbp_search:focus {
	border-color: rgba(0, 0, 0, 0.15);
}
#bbpress-forums #bbp-search-form #bbp_search_submit {
	margin-left: 0;
	margin-right: -4px;
}
.woocommerce-page.no-sidebar-layout #primary,
.woocommerce-page.full-width-layout #primary {
	float: none;
}
.woocommerce-page #main ul.products,
.woocommerce #main div.product div.images .flex-control-thumbs {
	margin: 0;
}
.woocommerce.widget_product_search input {
	margin: 0;
}
.woocommerce.widget_product_search .search-field {
	float: right;
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	border-left: none; 
}
.woocommerce.widget_product_search .search-field:focus {
	border-color: rgba(0, 0, 0, 0.15);
}
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media,
.wp-block-media-text .wp-block-media-text__content {
	-ms-flex-order: 1;
	order: 1;
}
.wp-block-media-text .wp-block-media-text__media,
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
	-ms-flex-order: 2;
	order: 2;
}
#content .wp-block-gallery {
	margin-right: 0;
}
.widget_nav_menu .sub-menu,
.widget_nav_menu .children {
	padding-left: 0;
	padding-right: 20px;
}
.widget_pages .children {
	padding-left: 0;
	padding-right: 20px;
}
.widget_tag_cloud a {
	margin-right: 0;
	margin-left: 5px;
}
.widget_custom-tagcloud a {
	margin-right: 0;
	margin-left: 4px;
}
.widget_recent_work .recent-work-col {
	float: right;
}
.widget_recent_work .recent-work-col a .recent-work-content {
	right: auto;
	left: 0;
	text-align: right;
}
#main .widget_ourclients ul {
	margin: 0;
}
.widget_featured_page .featured-page-content {
	float: right;
}
.widget_featured_page .featured-page-image {
	float: left;
}
.widget_featured_page .featured-page-image figure {
	text-align: right;
}
.opp .featured-page-content {
	float: left;
}
.opp .featured-page-image {
	float: right;
}
.opp .featured-page-image figure {
	text-align: left;
}
.midd .featured-page-content {
	float: none;
	text-align: center;
}
.midd .featured-page-image {
	float: none;
}
.midd .featured-page-image figure {
	text-align: center;
}
#colophon .widget-area {
	margin-left: 0;
	margin-right: -2.56%;
}
#colophon .widget_archive ul ul li a,
#colophon .widget_pages ul ul li a,
#colophon .widget_nav_menu ul ul li a,
#colophon .widget_recent_entries ul ul li a,
#colophon .widget_categories ul ul li a,
#colophon .widget_recent_comments ul ul li a,
#colophon .widget_meta ul ul li a,
#colophon .widget_rss ul ul li a {
	padding-left: 0;
	padding-right: 20px;
}
#colophon .widget_archive ul ul ul li a,
#colophon .widget_pages ul ul ul li a,
#colophon .widget_nav_menu ul ul ul li a,
#colophon .widget_recent_entries ul ul ul li a,
#colophon .widget_categories ul ul ul li a,
#colophon .widget_recent_comments ul ul ul li a,
#colophon .widget_meta ul ul ul li a,
#colophon .widget_rss ul ul ul li a {
	padding-left: 0;
	padding-right: 30px;
}
#colophon .widget_nav_menu .sub-menu, 
#colophon .widget_nav_menu .children {
	padding-right: 0;
}
.site-info .copyright {
	float: right;
}

@media only screen and (max-width: 1023px) {
	.no-sidebar-layout #main {
		margin: 0;
	}
	.column {
		margin-left: 0;
		margin-right: -2.99%;
	}
	.one-half,
	.one-third,
	.one-fourth {
		margin-right: 2.9%;
		margin-left: 0;
	}
	.custom-gallery #content .column {
		margin-left: 0;
		margin-right: -20px;
	}
	.custom-gallery #content .one-half,
	.custom-gallery #content .one-third,
	.custom-gallery #content .one-fourth {
		margin-left: 0;
		margin-right: 20px;
	}
	#colophon .widget-area {
		margin-right: 0;
	}
	#colophon .one-fourth {
		float: none;
		margin: 0;
	}
}
@media only screen and (max-width: 767px) {
	.hgroup-right {
		padding-left: 0;
	}
	.menu-toggle {
		float: left;
	}
	.hgroup-right {
		padding-left: 0;
		float: none;
	}
	.main-navigation {
		float: none;
	}
	.main-navigation li {
		margin-right: 0;
	}
	.main-navigation a {
		float: none;
		padding: 10px 0;
	}
	.main-navigation ul li ul li a,
	.main-navigation ul li.current-menu-item ul li a,
	.main-navigation ul li ul li.current-menu-item a,
	.main-navigation ul li.current_page_ancestor ul li a,
	.main-navigation ul li.current-menu-ancestor ul li a,
	.main-navigation ul li.current_page_item ul li a {
		padding-right: 15px;
		padding-left: 0;
	}
	.main-navigation ul li ul li ul {
		left: auto;
		right: 0;
	}
	.main-navigation ul li ul li ul li a,
	.main-navigation ul li.current-menu-item ul li ul li a,
	.main-navigation ul li ul li.current-menu-item ul li a,
	.main-navigation ul li.current_page_ancestor ul li ul li a,
	.main-navigation ul li.current-menu-ancestor ul li ul li a,
	.main-navigation ul li.current_page_item ul li ul li a {
		padding-left: 0;
		padding-right: 21px;
	}
	.column {
		margin-right: 0;
	}
	.one-half,
	.one-third,
	.one-fourth,
	.widget_service .one-half,
	.widget_service .one-third,
	.widget_service .one-fourth,
	.widget_recent_work .recent-work-col {
		margin: 0;
	}
	.custom-gallery #content .column {
		margin-right: 0;
	}
	.custom-gallery #content .one-half,
	.custom-gallery #content .one-third,
	.custom-gallery #content .one-fourth {
		margin: 0;
	}
	.widget_featured_page .featured-page-content,
	.widget_featured_page .featured-page-image {
		float: none;
		text-align: center;
	}
	.widget_featured_page .featured-page-image figure {
		text-align: center;
	}
	.site-info .social-profiles,
	.site-info .copyright {
		float: none;
	}
	.site-info .social-profiles ul {
		float: none;
		text-align: center;
	}
	.site-info .social-profiles ul li {
		float: none;
	}
	.site-info .copyright {
		text-align: center;
	}
	.wp-block-media-text .wp-block-media-text__media,
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
		-ms-flex-order: 1;
		order: 1;
	}
	.wp-block-media-text .wp-block-media-text__content,
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
		-ms-flex-order: 2;
		order: 2;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.column {
		margin-left: 0;
		margin-right: -3.57%;
	}
	.one-half,
	.one-third,
	.one-fourth {
		margin-right: 3.44%;
		margin-left: 0;
	}
	.widget_recent_work .recent-work-col {
		float: right;
	}
	.widget_service .column {
		margin-right: 0;
	}
	.custom-gallery #content .column {
		margin-left: 0;
		margin-right: -14px;
	}
	.custom-gallery #content .one-half,
	.custom-gallery #content .one-third,
	.custom-gallery #content .one-fourth {
		margin-left: 0;
		margin-right: 14px;
	}
}

